body{
    background-color: white;
}

.bloque-oculto{
    width: 5px;
    height: 5px;
    position: fixed;
    right: 1px;
    bottom: 1px;
}

.bloque-oculto-link{
    cursor: default;
}
